body{
    display: flex;
    gap: 30px;
    background-color: white;
    color: black;
    padding: 20px;
    height: 95vh;
    gap: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.leftside{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.leftside img{
    width: 200px;
    height: 200px;
}
.top1logo{
    display: flex;
}
.top1{
    text-align: center;
   
}
.top1logo img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.top1title h1{
    font-size: 20px;
    color: black;
}
.top1title p{
    color: gray;
}

.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding-left: 5px;
}

.links h1{
    font-size: 18px;
}
.links button{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;

}
.links1 h1{
    font-size: 18px;
}
.links1{
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 10px;   
    padding-left: 10px; 
}
.bot1{
    width: 200px;
    height: 200px;
    border: 2px gray dashed;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bot1 h1{
    font-size: 18px;
}
.bot1 img{
    width: 150px;
    height: 150px;
}