/* body{
    height: 100vh;
    background-color: black;
}
.card{
    width: 200px;
    height: 200px;
    background-color: white;
    color: black;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
} */
/* body{
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.logo img{
    width: 150px;

}
.header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    width: 700px;
    border-radius: 35px;
}
.hyperlinks a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.hyperlinks{
    display: flex;
    gap: 20px;
}
.btn button{
    padding: 10px 20px;
    font-size: 18px;
    background-color: #395FAA;
    color: #FFCA02;
    border: none;
    border-radius: 15px;
    font-weight: bold;
} */

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.top{
    padding-left: 85px;
    padding-right: 85px;
    padding-top: 55px;
    display: flex;
    gap: 250px;
    
}
.btns{
    display: flex;
}
.textarea{
    display: flex;
    align-items: center;
}
.textarea input{
    width: 250px;
    height: 50px;
    border: none;
    background-color: rgb(249, 249, 249);
    border-radius: 10px;
    padding-left: 15px;
    font-size: 16px;
}
.btn button{
    height: 35px;
    background-color: #10B981;
    border: none;
    border-radius: 5px;
    position: relative;
    right: 40px;
}
.btn-1 button{
    height: 50px;
    border: none;
    padding-left: 25px;
    border-radius: 30px;
    width: 200px;
    background-color: transparent;
    border: 2px solid #10B981;
    font-size: 16px;
}
.btn-1 img{
    width: 30px;
    position: relative;
    left: 50px;
    bottom: 2px;
}
.btn-1{
    display: flex;
}
.btn img{
    width: 21px;
    height: 21px;
}





.btn-2 button{
    height: 50px;
    border: none;
    padding-left: 25px;
    border-radius: 30px;
    width: 200px;
    background-color: #10B981;
    color: white;
    font-size: 16px;
}
.btn-2 img{
    width: 25px;
    position: relative;
    left: 40px;
    bottom: 2px;
}
.btn-2{
    display: flex;
}
.btn img{
    width: 21px;
    height: 21px;
}




.right-btns{
    display: flex;
}
.logo img{
    width: 172;
    height: 50px;
}
.header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.bot{
    height: 80px;
    background-color: #10B981;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
nav{
    display: flex;
    gap: 75px;
}
nav a{
    text-decoration: none;
    font-size: 20px;
    color: white;
    
}
